#!/usr/bin/env zsh

# bun
export BUN_INSTALL="$HOME/.bun"

# talk to colima's docker socket rather than Docker Desktop's
export DOCKER_HOST="unix://$HOME/.colima/default/docker.sock";

# Make vi the default editor.
export EDITOR='vi';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);
