#!/usr/bin/env zsh

# remove deleted branches
function clean() {
  DELETED_BRANCHES=($(git branch -v | grep '\[gone\]' | awk '{ print $1 }' | tr '\n' ' ' | xargs));

  for BRANCH in "${DELETED_BRANCHES[@]}"; do git branch -D $BRANCH; done
}

# hijack devcontainer commands to add defaults
function devcontainer() {
    case "$1" in
        up) shift; command devcontainer up --dotfiles-repository https://github.com/brianwalborn/dotfiles.git "$@" ;;
        *) command devcontainer "$@" ;;
    esac
}

# hijack docker commands to add shortcuts
function docker() {
    case "$1" in
        lsc) shift; command docker container ls "$@" ;;
        lsi) shift; command docker image ls "$@" ;;
        lsv) shift; command docker volume ls "$@" ;;
        rmc) shift; command docker container rm "$@" ;;
        rmv) shift; command docker volume rm "$@" ;;
        *) command docker "$@" ;;
    esac
}

eks() {
    case "${1}" in
      auth)
        local cluster_name="${2:?Usage: eks auth <cluster_name> [region] [profile]}"
        local region="${3:-us-east-2}"
        local profile_flag=""

        if [[ -n "${4}" ]]; then
          profile_flag="--profile ${4}"
        fi

        aws eks update-kubeconfig --region "${region}" --name "${cluster_name}" ${profile_flag}
        ;;
      *)
        echo "Usage: eks <command>"
        echo "Commands:"
        echo "  auth <cluster_name> [region] [profile]  - Update kubeconfig for an EKS cluster"
        ;;
    esac
  }
